server {
    listen 443 ssl;
    server_name blacklist.example.org;

    ssl_certificate     /etc/letsencrypt/live/blacklist.example.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/blacklist.example.org/privkey.pem;

    location / {
        proxy_pass http://localhost:3939;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

server {
    listen 80;
    server_name blacklist.example.org;
    return 301 https://$host$request_uri;
}
